.products-section__wysiwyg {
  margin-bottom: 24px;

  @include desktop {
    margin-bottom: 32px;
  }
}

.products-section__text-link {
  margin: 0 auto;
  margin-top: 24px;

  @include desktop {
    margin-left: auto;
    margin-right: 0;
  }
}
