@font-face {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/YandexSansText-Regular.woff") format("woff");
}

@font-face {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/YandexSansText-Medium.woff") format("woff");
}

@font-face {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/YandexSansText-Bold.woff") format("woff");
}
