$basic-black: #000000;
$basic-white: #FFFFFF;
$primary: #0885A2;
$secondary: #ED3237;
$title-color: #1D1D1D;
$font-color: #4D4D4D;
$error: #D92C2C;
$success: #007E06;

$mobile-width: 320px;
$tablet-width: 744px;
$desktop-width: 1280px;
$fullhd-width: 1920px;
